[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".local/share/pure"]
	path = .local/share/pure
	url = https://github.com/sindresorhus/pure
